.navbar {
  background-color: rgba(252, 90, 44, 0.89);
  height: 90px;
  color: white;
}

.navbar button {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: white;
  width: 110px;
  height: 40px;
  margin-left: 10px;
}
.navbar input {
  width: 220px;
  height: 50px;
  padding-left: 10px;
}

.left-Header {
  font-size: 32px;
  font-weight: bold;
}
